$color1: aliceblue;
$color2: cornflowerblue;
$font: Tahoma;

button {
  background: $color1;
  height: 5vh;
  width: 10vw;
  transition: 0.3s;
}

button:hover {
  opacity: 50%;
  font-size: 100%;
}

img {
  height: 50vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

p {
  text-align: center;
  font-family: $font;
}

form {
  width: fit-content;
  background: $color2;
  margin: 0 auto;
}

header, footer{
  text-align: center;
}
